.CardItem .testimonial-item {
    box-shadow: 0 0 20px rgba(0, 0, 0, .07);
    border: 1px solid transparent;
    transform: scale(.93);
    transition: .5s;
}
.prev,
.next {
    margin: 0 12px;
    width: 40px;
    color: #00B98E;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    justify-content: center;
    border: 1px solid #00B98E;
    border-radius: 45px;
    transition: .5s;
}
.prev:hover,
.next:hover {
    color: #FFFFFF;
    border: none;
    background: #00B98E;
}

