.team{
    margin-top: 100px;
}
h6{
    color: #00B98E;
}
h2{
    color: black;
    font-weight: bold;
}
.wrapper{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border: 0.1px solid #00B98E;
}
.wrapper img{
    padding: 10px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: 0.5s ease;
    cursor: pointer;
}
.wrapper img:hover{
    transform: scale(1.3);
}
.icon{
    color: #00B98E;
}
