
.btn-square {
    width: 38px;
    height: 38px;
   
}
.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}
.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px; 
}
.bg-primary{
    background-color: #01b98e !important;
}
.text-primary{
    color: #01b98e !important;
}