
.bg-style {
    background-color: #00b98e;
}
.navbar {
    padding: 0;
    transition: all 0.3s linear;
    box-shadow: 0 2px 2px -2px rgba(240, 240, 240,.9);
}
.nav-item {
    color: white;
}

.logo {
    font-size: 40px;
    color: #ffff !important;
    font-weight: bold;
}

.navbar.active .nav-item {
    color: #000 !important;
}

.navbar .btn-freequote {
    color: #00B98E;
}

.navbar.active .btn-freequote {
    color: #00B98E;
}

#collasible-nav-dropdown {
    color: white;
    font-weight: bold;
}
.dropdown-item:active, .dropdown-item.active{
    color: white !important;
    background-color: #00B98E !important;
}
.navbar.active #collasible-nav-dropdown {
    color: black;
    font-weight: bold;
}

.nav-item.active {
    color: white !important;
}

@media (min-width: 992px) {
    .navbar.active .logo {
        color: #00B98E !important;
    }
    .navbar.active {
        background-color: #FFFFFF;
    }
    .navbar.active .nav-item .active{
        color: #00B98E !important;
    }
    .navbar.active .nav-item .dropdown-item.active{
        color: #FFFFFF !important;
    }
    .nav-item .dropdown .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-item .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 1rem;
        transform: rotateX(0deg);
        visibility: visible;
        transition: 0.5s;
        opacity: 1;
    }
}
