.btn-primary {
    background-color: #00B98E;
}
.top-to-btm{
    position: relative;
}
.icon-position {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 100px;
    z-index: 99;
}
.icon-style {
    height: 58px;
    width: 58px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .6s ease-in-out;
}
.btn-lg{
    color: #ffffff;
    font-size: 1.5rem;
}
.icon-style:hover{
    animation: none;
    color: #00B98E;
}
@keyframes movebtn {
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}
