.hero{
    margin-bottom: 6rem;
    padding: 10rem 0 9rem 0;
    transition: all 0.3s linear;
    background: url(../../../Assets/img/shape-bottom.png) center bottom no-repeat;
}
.heroSection{
    transition: all 0.3s linear;
}