
.bg-dark{
    background-color: #0E2E50 !important;
}
.btn-social{
    padding: 13px;
    margin-right: 3px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 50%;
    transition: .3s;
}
.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    transition: .3s;
}
.btn-link:hover{
    letter-spacing: 1px;
    box-shadow: none;
}
.text-primary{
    color: #01b98e !important;
}
.footerTop{

}
.footerTop_menu{
    color: white;
    border-right: 1px solid rgba(255, 255, 255, .1);
}