@font-face {
  font-family: heebo;
  src: url(../src/Assets/Font/Heebo-Regular.ttf);
}
@font-face {
  font-family: Inter ;
  src: url(../src/Assets/Font/Inter-Regular.ttf);
}

:root {
  --primary: #00B98E;
  --secondary: #0E2E50; 
}

h1,h2,h3,h4,h5,h6{
  font-family: Inter;
  color: #0E2E50 !important; 
  font-weight: bold;
}

.text-dark {
  color: #0E2E50 !important;
} 

p , span {
  font-family: heebo;
}

.font-bold {
  font-weight: bold;
}


/* Service Page */
.service-icon{
  padding: 10px;
  margin: -1px 0 0 -1px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: var(--primary);
  border-radius: 5px 0;
  transition: .5s;
}

.service-link {
  padding: 10px;
  margin: -1px 0 0 -1px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: var(--primary);
  border-radius: 5px 0;
  transition: .5s;
}

.service-card {
box-shadow: 0 0 45px rgba(0, 0, 0, .07);
border: 1px solid transparent;
transition: .5s;
}

.service-card:hover {
box-shadow: none;
border-color: var(--primary);
}

.service-card .service-link {
margin: -1px -1px 0 0;
border-radius: 0 5px;
opacity: 0;
}

.service-card:hover .service-link {
opacity: 1;
}

.btn-primary {
  background-color: #00B98E;
}